node_modules
.DS_Store
dist
build-native.log
.build
native/*
!native/extensions/
!native/bridge/
!native/addon/
native/addon/compile_flags.txt
coverage
docs/.vitepress/dist
docs/.vitepress/cache
.env.local
spikes/napi/build
spikes/napi/compile_flags.txt
docs/.vitepress/.temp/